html{
  scroll-behavior: smooth;
}

body{
  display:flex;
  flex-direction: column;
  background-image:linear-gradient(12deg, rgba(193, 193, 193,0.05) 0%, rgba(193, 193, 193,0.05) 2%,rgba(129, 129, 129,0.05) 2%, rgba(129, 129, 129,0.05) 27%,rgba(185, 185, 185,0.05) 27%, rgba(185, 185, 185,0.05) 66%,rgba(83, 83, 83,0.05) 66%, rgba(83, 83, 83,0.05) 100%),linear-gradient(321deg, rgba(240, 240, 240,0.05) 0%, rgba(240, 240, 240,0.05) 13%,rgba(231, 231, 231,0.05) 13%, rgba(231, 231, 231,0.05) 34%,rgba(139, 139, 139,0.05) 34%, rgba(139, 139, 139,0.05) 71%,rgba(112, 112, 112,0.05) 71%, rgba(112, 112, 112,0.05) 100%),linear-gradient(236deg, rgba(189, 189, 189,0.05) 0%, rgba(189, 189, 189,0.05) 47%,rgba(138, 138, 138,0.05) 47%, rgba(138, 138, 138,0.05) 58%,rgba(108, 108, 108,0.05) 58%, rgba(108, 108, 108,0.05) 85%,rgba(143, 143, 143,0.05) 85%, rgba(143, 143, 143,0.05) 100%),linear-gradient(96deg, rgba(53, 53, 53,0.05) 0%, rgba(53, 53, 53,0.05) 53%,rgba(44, 44, 44,0.05) 53%, rgba(44, 44, 44,0.05) 82%,rgba(77, 77, 77,0.05) 82%, rgba(77, 77, 77,0.05) 98%,rgba(8, 8, 8,0.05) 98%, rgba(8, 8, 8,0.05) 100%),linear-gradient(334deg, hsl(247,0%,2%),hsl(247,0%,2%));
  color: #FDF9F8;
  font-family: "Poppins", sans-serif;
  margin:0;
  padding:0;
}

body::selection{
  background-color: olivedrab;
}

* {box-sizing:border-box}

.slide-text-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center; 
    gap: 20px; 
}

.text-learn-more {
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.text-learn-more h1{
  font-size:4rem;
  font-weight:500;
  font-family: "poppins", sans-serif;
  text-align:left;
}

.text-learn-more p{
  font-size:1.5rem;
  font-weight:200;
  font-family: "montserrat", sans-serif;
  text-align:left;
  width: 40vw;
}

.learn-more{
  font-family:"Poppins", sans-serif;
  font-size:1.25rem;
  font-weight: 400;
  display: block;
  padding: 1rem;
  background-color:rgb(78, 106, 26);
  color:white;
  border:none;
  cursor:pointer;
}

.learn-more:hover{
  opacity:0.7;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin-top: 7rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.slideimage{
    height: 40vw;
    width: 100%;
    object-fit: cover;    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #8dff0384;
  font-size: 2rem;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight:200;
  font-size: 6rem;
  width: 7rem;
  padding: 2rem 3rem;
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: start;
  line-height:5rem;
}

.text-two{
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-weight:100;
  font-size: 2rem;
  padding: 2rem 3rem;
  position: absolute;
  bottom: 0.3rem;
  left:1rem;
  width: 100%;
  text-align: start;
  padding-top:2rem;
  line-height: 1rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 2rem;
  margin: 0 2px;
  background-color: #436618 ;
  border-radius: 20%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #87f500 ;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}

.ccc, .ppp {
  margin:0;
  text-align:center;
  width:66.5rem;
}

.ccc {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height:10rem;
  background:linear-gradient(to right, rgb(111, 154, 26),rgb(75, 101, 22),rgb(36, 52, 5));
  box-shadow: 2rem 2rem 5rem black;
  font-size:4rem;
  color:white;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  text-align: right;
}

.ppp {
  font-size:2rem;
  color:white;
  text-shadow:1rem 0rem 4rem #FDF9F8;
  margin-top:2rem;
  font-family:'Kanit', sans-serif;
  font-weight:200;
  letter-spacing:2px;
}

.our-members{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0 2rem 0 2rem;
  text-align: center;
}

.container{
  background-color: #000000;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 10px ), repeating-linear-gradient( #6B8E2355, #6B8E23 );
  position: relative;
  perspective: 700px;
  display:flex;
  align-items: center;
  width:100%;
  height:35rem;
  overflow-x: scroll;
  margin:3em auto;
  gap:1em;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.container::-webkit-scrollbar{
  display: none;
}

.card{
  width: 20rem;
  height: 30rem;
  transform-style: preserve-3d;
  transition: transform 1500ms;
  margin-right: 2rem;
  flex-shrink: 0;
  scroll-snap-align: calc(start+12rem);
  box-shadow: 2rem 2rem 2rem black;
}

.card:hover{
  cursor:pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.front,
.back{
  height:100%;
  width:100%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0.4rem rgba(50, 50, 50, 0.25);
  position:absolute;
  backface-visibility: hidden;
}

.front{
  background-image: url("./assets/images/IMG-20250907-WA0005.jpg");
  background-size: cover;
}

.back{
  background-color: #000000;
  transform: rotateY(180deg) rotateZ(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow:inset 2rem 0rem 30rem #34511220;
}

.name{
  color:white;
  font-family:"Poppins", sans-serif;
  font-weight:700;
  text-align:center;
}

.designation{
  color:white;
  text-align:center;
  font-family:"Montserrat", sans-serif;
  font-weight:400;
  font-size:x-large;
}


.globe-container {
    width: 100vw;
    height: 60vh;
    border-radius: 10px;
    box-shadow: 2rem 2rem 5rem black;
    background-color: rgb(14, 13, 13);
    opacity: 0.8;
    display:flex;
    margin:0;
    padding:0;
    margin-bottom:-3rem;
}

.globe{
  width:50%;
}
model-viewer {
    width: 100%;
    height: 100%;
    --poster-color: transparent;
    --backgroundColor: transparent;
    --camera-orbit:"180deg 120deg";
}