@font-face {
	font-family: 'BankGothicRegular';
	src: local('BankGothicRegular'), url('./BankGothicRegular.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_10279">Text with this font applied</p> */
.fontsforweb_fontid_10279 {
	font-family: 'BankGothicRegular' !important;
}

/* Font downloaded from FontsForWeb.com */